:root {
  --bg-color: #000000;
  --line-separator: #514d4d;
  --text-color: #a7caca;
  --color-link: #bdb5b5;
  --color-hover: #34f8d1;
  --input-text: #cfeceb;
  --scroll-track: #ffffff00;
  --color-shadow: #00000044;
}

#outputs::-webkit-scrollbar {
  width: 10px;
  margin-right: 5px;
}

#outputs::-webkit-scrollbar-track {
  background: var(--scroll-track, #ffffff77);
}

#outputs::-webkit-scrollbar-thumb {
  background: var(--color-link, #bdb5b5);
}

#outputs::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover, #34f8d1);
}

#poeinst {
  width: calc(30vw - 40px);
  height: calc(50vh - 40px);
  padding: 20px;
  display: none;
  position: fixed;
  z-index: 9999999999;
  left: calc(35vw - 20px);
  top: calc(18vh - 20px);
  background-color: var(--bg-color, #000000);
  color: var(--text-color, #a7caca);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 5px var(--color-shadow);
}

#entrada {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;

  min-width: 0;
  height: 50px;
  font-size: 24px !important;
  line-height: 30px;
  width: 100% !important;
  border: 0;
  outline: 0;
  margin-left: -10px;
  background-color: transparent;
  color: var(--input-text, #443535);
  margin-bottom: -10px;
}

#outputs {
  width: calc(100% + 40px);
  height: calc(50vh - 126px);
  display: block;
  margin-left: -20px;
  color: var(--fg-color, #d2d2d2);
  overflow-y: auto;
  padding-top: 3px;
}

#outputs iframe {
  width: 100%;
  height: calc(100vh - 169px);
}

.gridhead {
  display: grid;
  grid-template-columns: 1fr [fim];
  gap: 3px 10px;
  text-transform: uppercase;
}

.outputgrid {
  display: grid;
  grid-template-columns: 1fr [fim];
  gap: 3px 10px;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.simplediv {
  width: calc(100vw - 50px);
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.categoria {
  grid-column: 1 / fim;
  margin-top: 16px;
  border-bottom: 1px solid var(--line-separator, #dddddd);
  color: var(--text-color, #bbbbbb);
  text-transform: uppercase;
  font-size: 11px;
}

.grouplink {
  padding: 4px 8px 4px 8px;
  margin: -4px -8px -4px -8px;
  text-decoration: none;
  color: var(--text-color, #bbbbbb);
  font-size: 11px;
  display: inline-block;
}

.grouplink:hover {
  background-color: var(--text-color, #bbbbbb);
  color: var(--bg-color, black);
}

.separaline {
  grid-column: 1 / fim;
  margin-top: 16px;
  border-top: 1px solid var(--line-separator, #dddddd);
  color: var(--text-color, #bbbbbb);
  text-transform: uppercase;
  font-size: 11px;
  height: 20px;
}

.noline {
  grid-column: 1 / fim;
  margin-top: 16px;
  color: var(--text-color, #bbbbbb);
  text-transform: uppercase;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: var(--color-link, #3498c7);
  padding: 4px 8px 4px 8px;
  margin: -4px -8px -4px -8px;
}

a:hover {
  color: var(--color-hover, #e6be10);
  cursor: pointer;
}
