:root {
  --bg-color: #b1bdbd;
  --line-separator: #d8d4c6;
  --text-color: #fbfbfb;
  --color-link: #ebfdff;
  --color-hover: #7b8f8f;
  --input-text: #fbfbfb;
  --scroll-track: #00078a00;
  --color-shadow: #dfd6c9;
}

::-webkit-scrollbar-thumb:hover {
  background: #cae0e2;
}

#outputs::-webkit-scrollbar-thumb:hover {
  background: #fdffff;
}

a:hover {
  color: var(--color-hover, #e6be10);
  background-color: white;
  cursor: pointer;
}

#poeinst {
  min-width: 200px;
  left: min(calc(35vw - 20px), calc(50vw - 100px));
  border-radius: 3px;
  min-height: 260px;
}

#outputs {
  min-height: 170px;
}
