:root {
  --bg-color: #888888;
  --line-separator: #555555;
  --text-color: #fbfbfb;
  --color-link: #cae0e2;
  --color-hover: #888888;
  --input-text: #fbfbfb;
  --scroll-track: #00078a00;
  --color-shadow: #acabab;
}

::-webkit-scrollbar-thumb:hover {
  background: #cae0e2;
}

#outputs::-webkit-scrollbar-thumb:hover {
  background: #cae0e2;
}

a:hover {
  color: var(--color-hover, #e6be10);
  background-color: white;
  cursor: pointer;
}

#poeinst {
  min-width: 200px;
  left: min(calc(35vw - 20px), calc(50vw - 100px));
  border-radius: 3px;
  min-height: 260px;
}

#outputs {
  min-height: 170px;
}

.forget {
}
