:root {
  --bg-color: #fef6e4;
  --line-separator: #efe8d6;
  --text-color: #616161;
  --color-link: #96a4a4;
  --color-hover: #63baa9;
  --input-text: #63baa9;
  --scroll-track: #ffffff00;
  --color-shadow: #61616144;
}
